body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 1428px;
  height: 1267px;
  top: 1px;
  left: 4px;
  gap: 0px;
}

.container {
  background-color: #1c1c1e;
  background-image: url("../assets/grid_lines.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  background: linear-gradient(90deg, #ffffff 6.4%, #6b61ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 43px;
  font-weight: 800;
  line-height: 67px;
}

.container p {
  font-family: Nohemi;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #d2d2d2;
}

.images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.images-container img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.images-container .img1 {
  width: 253.96px;
  height: 159.54px;
  position: absolute;
  top: 579.14px;
  left: 97.1px;
  transform: rotate(22.33deg);
}

.stats {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.stat {
  background: linear-gradient(90deg, #ffffff 6.4%, #6b61ff 100%);
  padding: 20px;
  margin: 0 10px;
  border-radius: 10px;
  display: grid;
  justify-items: start;
  color: black;
  width: 450px;
  height: 105px;

  /* border-radius: 24px 0px 0px 0px; */
}

.stat h2 {
  font-size: 24px;
  margin: 10px 0;
}

.stat p {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  color: #1e1e1e;
}

.coming-soon-button {
  width: 150px;
  height: auto;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.coming-soon-button img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: -74px;
}
