.transition-section {
  background-color: #2a2a2b;
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.transition-section h2 {
  font-weight: 500;
  line-height: 38.4px;
  letter-spacing: 0.02em;
  text-align: center;
  text-wrap: balance;
}

.transition-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 0.02em;
  text-align: center;
  text-wrap: balance;
}
